@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    width: 70%;
  display: flex;
  gap: 5px;
  list-style: none;
  flex-wrap: wrap;
  margin: auto;
  background-color: aquamarine;
}
ul a {
  width: 100%;
}
ul li {
  width: calc((100% - 30px) / 7);
}
ul a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  ul li {
    width: calc((100% - 15px) / 3);
  }
}
@media screen and (max-width: 390px){
    ul li {
        width: 100%
    }
}